.article {
  padding: 65px 0;
  justify-content: center;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 10px;
    padding-bottom: 60px;
  }
}

.article a {
  display: block;
  margin: 20px auto 0;

  font-family: $ff-popins;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
}

.article > a {
  max-width: 80px;
}

.article .decor::after {
  left: 3px;
  bottom: -5px;
  width: 90%;
}

.article__text .decor::after {
  left: 0;
  bottom: 1px;
  width: 100%;

  @media (max-width: $tablet-width) {
    bottom: -7px;
  }
}

.article__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-top: 65px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  @media (max-width: $mobile-width) {
    grid-row-gap: 40px;
    padding-top: 55px;
  }
}

.article__container article {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

.article__container article:nth-child(2n) .article__image {
  order: 2;

  @media (max-width: $mobile-width) {
    order: unset;
  }
}

.article__text {
  display: grid;
  background-color: $color-back;
  justify-content: space;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 35px;

  @media (max-width: $tablet-width) {
    padding: 65px 85px;
    line-height: 1;
  }

  @media (max-width: $mobile-width) {
    padding: 49px 0 22px;
    min-height: 256px;
  }
}

.article__text a {
  display: block;
  margin-bottom: 35px;
  line-height: 16px;
  justify-self: center;
  height: auto;
}

.article__text time {
  font-family: $ff-popins;
  font-size: 14px;
  font-weight: 500;
  color: $color-light-grey-10a;
  margin: 0;
  // padding-bottom: 23px;
}

.article__text h3 {
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
  margin: 0 auto 25px;
  max-width: 163px;

  @media (max-width: $tablet-width) {
    margin: 20px auto 15px;
  }

  @media (max-width: $mobile-width) {
    margin: 20px auto 15px;
  }
}

.article__container article:nth-child(2) {
  order: 1;

  @media (max-width: $tablet-width) {
    order: unset;
  }
}

.article__container article:nth-child(3n) {
  display: contents;
  grid-template-columns: 1fr;

  @media (max-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }
}

.article__container article:nth-child(3n) .article__image {
  grid-column: 2/3;
  grid-row: 1/3;

  @media (max-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  @media (max-width: $mobile-width) {
    grid-column: 1/-1;
  }
}

.article__container article:nth-child(3n) .article__text {
  grid-row: 2/3;
  grid-column: 2/3;
  min-width: 285px;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    grid-column: 2/-1;
    grid-row: 2/-1;
    min-width: 100%;
  }

  @media (max-width: $mobile-width) {
    grid-column: 1/-1;
  }
}

.article__image img {
  height: 100%;

  @media (max-width: $tablet-width) {
    height: fit-content;
    width: 100%;
  }
}

.article__image:hover ~ .article__text,
.article__text:hover {
  box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
}
