.faq {
  padding: 55px 0 59px;
  font-family: $ff-popins;

  @media (max-width: $tablet-width) {
    padding: 2px 0 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 20px;
  }
}

.faq__wrap {
  display: grid;
  grid-gap: 0;
  width: 100%;
  padding: 48px 100px 43px;

  @media (max-width: $tablet-width) {
    padding: 48px 0 43px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 28px;
  }
}

.faq__item {
  border: 1px solid $color-accent;
  border-bottom: none;
  padding: 0;
  padding-bottom: 40px;

  @media (max-width: $tablet-width) {
    padding: 43px 0 45px 48px;
  }

  @media (max-width: $mobile-width) {
    padding: 18px 20px 17px 25px;
  }
}

.faq__item:hover {
  background-color: $shadow;
}


.faq__item:last-child {
  border-bottom: 1px solid $color-accent;
}

.faq__content {
  height: 0;
  transition: height 1s ease-out;
  transform: scaleY(0);
  float: left;
  display: block;
}

.open .faq__content {
  padding: 0  400px 0 49px;
  width: 100%;
  margin: 0;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  height: auto;

  @media (max-width: $tablet-width) {
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 60px;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    padding: 7px 35px 0 0;
  }
}

.faq__heading {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  margin: 0;
  padding: 43px 20px 7px 42px;

  @media (max-width: $tablet-width) {
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
  }
}

.faq__content p {
  line-height: 21px;
  margin: 0;
}

.faq__heading::after {
  content: url("../img/svg/down.svg");
  position: absolute;
  color: $color-accent;
  width: 25px;
  height: 20px;
  right: 40px;
  top: calc(50% + 5px);

  @media (max-width: $tablet-width) {
    scale: 1.3;
    zoom: 1.3;
    top: -5px;
    right: 45px;
  }

  @media (max-width: $mobile-width) {
    right: -5px;
    scale: 1.3;
    zoom: 1.3;
    top: 0;
  }
}

.open .faq__heading::after {
  content: url("../img/svg/up.svg");
}
