.gallery__wrap {
  list-style: none;
  display: grid;
  grid-template-columns: 19.65% 34.1% 19.65% 19.65%;
  grid-column-gap: 27px;
  grid-row-gap: 34px;
  padding: 60px 0 131px;
  margin: 0;

  @media (max-width: $tablet-width) {
    grid-column-gap: 16px;
    grid-row-gap: 21px;
    padding: 58px 0 78px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 27px;
    padding-top: 41px;
    padding-bottom: 69px;
  }
}

.gallery a {
  display: block;
  max-width: 90px;
  margin: 28px auto 6px;
  font-family: $ff-popins;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
  }
}

.gallery .decor::after {
  left: 4px;
  bottom: -4px;
  width: 90%;
}

.gallery li:nth-child(7n+2) {
  display: grid;
  grid-row: span 2;
}

.gallery li {
  overflow: hidden;
}

.gallery li img {
  height: 100%;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .gallery li:nth-child(3),
  .gallery li:nth-child(4) {
    display: none;
  }
}
