.price-controls {
  display: flex;
  justify-content: space-between;
  width: 77%;
  margin-left: 37px;
  margin-top: -2px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 500;

  @media (max-width: $tablet-width) {
    width: 215px;
    margin-left: auto;
  }

  @media (max-width: $mobile-width) {
    width: 174px;
  }
}

.price-controls label {
  display: flex;
  flex-wrap: nowrap;
  max-width: 50px;
  text-align: center;
  align-items: center;
  font-size: 14px;
}

.price-controls input {
  max-width: 50px;
  border: none;
  font-weight: 500;
}
