.products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.products__wrapper,
.products__wrap {
  width: 95%;
  max-width: calc(1170px + 90px);
  padding: 0 45px;
  display: flex;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    max-width: calc(678px + 90px);
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: center;
  }

  @media (max-width: $mobile-width) {
    padding: 0 5px;
  }
}

.products__wrap {
  padding-top: 80px;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    max-width: calc(678px + 20px);
  }
}

.products__border {
  border-top: 1px solid $color-fill;
  padding-top: 20px;
  margin-top: 32px;

  @media (max-width: $mobile-width) {
    border: none;
    margin-top: 0;
  }
}

.products__buttons {
  display: flex;
  margin-left: 26%;
  width: 74%;
  justify-content: space-between;
  justify-self: end;
  padding-bottom: 56px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 50px;
  }
}

.products__buttons ul {
  padding: 0;
  display: flex;
  list-style: none;

  @media (max-width: $mobile-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.products button {
  border: none;
  background-color: transparent;
  font-family: $ff-popins;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
}

.products__buttons button {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.products__buttons button:nth-child(odd) {
  padding-left: 0;
}

.products__buttons button:nth-child(even) {
  padding-right: 0;
  margin-right: 40px;
}

.products button:hover,
.products__buttons a:hover {
  color: $color-accent;
}


.products__buttons a {
  color: $color-light-grey-10a;
  font-family: $ff-popins;
  padding: 10px 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;

  @media (max-width: $mobile-width) {
    padding: 10px 11px;
  }
}

.products__buttons .current {
  color: $color-default-black;
}
