.promo {
  position: relative;
  background-color: $color-layout;
  min-height: 463px;
  background-image: image-set(url("../img/main/promo@2x.jpg") 2x, url("../img/main/promo@1x.jpg") 1x);
  background-image: image-set(url("../img/main/promo@2x.webp") 2x, url("../img/main/promo@2x.webp") 1x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $tablet-width) {
    background-image: image-set(url("../img/main/promo-tab@2x.jpg") 2x, url("../img/main/promo-tab@1x.jpg") 1x);
    background-image: image-set(url("../img/main/promo-tab@2x.webp") 2x, url("../img/main/promo-tab@2x.webp") 1x);
  }


  @media (max-width: $mobile-width) {
    background-image: image-set(url("../img/main/promo-mob@2x.jpg") 2x, url("../img/main/promo-mob@1x.jpg") 1x);
    background-image: image-set(url("../img/main/promo-mob@2x.webp") 2x, url("../img/main/promo-mob@2x.webp") 1x);
  }
}

.promo::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-layout;
}

.promo__wrap {
  max-width: 1366px;
  margin: 0 auto;
}


.promo--catalog {
  min-height: 261px;
  background-image: image-set(url("../img/catalog/catalog-promo@2x.jpg") 2x, url("../img/catalog/catalog-promo@1x.jpg") 1x);
  background-image: image-set(url("../img/catalog/catalog-promo@2x.webp") 2x, url("../img/catalog/catalog-promo@2x.webp") 1x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $tablet-width) {
    background-image: image-set(url("../img/catalog/catalog-promo-t@2x.jpg") 2x, url("../img/catalog/catalog-promo-t@1x.jpg") 1x);
    background-image: image-set(url("../img/catalog/catalog-promo-t@2x.webp") 2x, url("../img/catalog/catalog-promo-t@2x.webp") 1x);
  }

  @media (max-width: $mobile-width) {
    background-image: image-set(url("../img/catalog/catalog-promo-m@2x.jpg") 2x, url("../img/catalog/catalog-promo-m@1x.jpg") 1x);
    background-image: image-set(url("../img/catalog/catalog-promo-m@2x.webp") 2x, url("../img/catalog/catalog-promo-m@2x.webp") 1x);
  }
}
.promo__text {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 39.2%;
  text-align: center;
  color: $color-default-white;
  font-family: $ff-basic;

  @media (max-width: $tablet-width) {
    margin-right: 15px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    top: 41%;
  }
}

.promo__text--catalog {
  top: 35%;

  @media (max-width: $mobile-width) {
    top: 30%;
  }
}

.promo h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 5px;

  @media (max-width: $mobile-width) {
    font-size: 38px;
    line-height: 49px;
    margin: 0;
  }
}

.promo__text--catalog h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  margin-bottom: 2px;

  @media (max-width: $mobile-width) {
    font-size: 34px;
  }
}

.promo__text p {
  font-size: 38px;
  font-style: italic;
  font-weight: 400;
  margin: 0;

  @media (max-width: $mobile-width) {
    font-size: 34px;
    line-height: 44px;
    margin-top: -6px;
  }
}

.promo__text--catalog p {
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;

  @media (max-width: $mobile-width) {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    display: block;
    max-width: 80%;
    margin: 0 auto;
  }
}
